@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html {
    font-size: 62.5%;
}

body {
    background-color: #22223b;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/background.jpg");
}

.container {
    margin-top: 150px;
    width: 60%;
    max-width: 820px;
    display: grid;
    padding: 2rem;
    gap: 1rem;
    grid-template:
        "card_1 card_2" 1fr
        "card_3 card_3" 1fr
        "card_4 card_4" 1fr
        / 1fr 1fr;
}

.card_1 {
    margin-top: 90px;
    grid-area: card_1;
    border-radius: 1rem;
}

#quote-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    max-height: 200px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.3px);
    -webkit-backdrop-filter: blur(9.3px);
    border: 0.5px solid rgba(255, 255, 255, 0.102);
}

.quote {
    color: #fff;
    font-size: 24px;
    margin: 20px 0;
    font-style: italic;
}

.author {
    font-size: 18px;
    color: #ddd;
}

.image {
    margin-top: -10px;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;

    p {
        margin-top: 30px;
        width: 50%;
        font-size: 2rem;
        font-weight: 800;
        color: #f2e9e4;
    }
}

.img {
    height: 100%;
    width: 50%;
    background-image: url("../assets/vagabond.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    border-bottom-left-radius: 0rem;
}

.card_2 {
    height: 100px;
    margin-top: 80px;
    margin-bottom: 10px;
    grid-area: card_2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    position: relative;
    background: #4a4e6965;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.3px);
    -webkit-backdrop-filter: blur(9.3px);
    border: 0.5px solid rgba(255, 255, 255, 0.102);
}

#txt {
    font-size: 6rem;
    color: #f2e9e4;
    font-weight: 600;
}

.secondsContainer {
    position: absolute;
    display: flex;
    bottom: -20px;
    right: -20px;
    background-color: #f2e9e4;
    width: 50px;
    height: 50px;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 5px 30px #0b0b0e64;
}

#seconds {
    font-size: 3rem;
    color: #4a4e69;
    font-weight: 600;
}

.card_3 {
    margin: 0;
    grid-area: card_3;
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: column;
    justify-content: center;
}

.search {
    position: relative;
}

input {
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    border: none;
    background-color: #4a4e69;
    color: #f2e9e4;
    outline: none;
    font-size: 2rem;
}

.iconSearch {
    position: absolute;
    top: 25%;
    right: 3%;
    font-size: 3rem;
    color: #f2e9e4;
}

.card_4 {
    margin: 0;
    margin-top: -60px;
    grid-area: card_4;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.link {
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #767b9145;
    backdrop-filter: blur(9.3px);
    border-radius: 1rem;
    text-decoration: none;
    color: #f2e9e4;
}

.link:nth-child(1):hover {
    box-shadow: 0rem 0rem 4rem #CD201F;
    transition: all ease-in-out 0.2s;

    .icon {
        color: #CD201F;
        transition: all ease-in-out 0.5s;
    }
}

.link:nth-child(3):hover {
    box-shadow: 0rem 0rem 4rem #1DB954;
    transition: all ease-in-out 0.2s;

    .icon {
        color: #1DB954;
        transition: all ease-in-out 0.5s;
    }
}

.link:nth-child(2):hover {
    box-shadow: 0rem 0rem 4rem #FF5700;
    transition: all ease-in-out 0.2s;

    .icon {
        color: #FF5700;
        transition: all ease-in-out 0.5s;
    }
}

.link:nth-child(4):hover {
    box-shadow: 0rem 0rem 4rem #0e76a8;
    transition: all ease-in-out 0.2s;

    .icon {
        color: #0e76a8;
        transition: all ease-in-out 0.5s;
    }
}

.link:nth-child(5):hover {
    box-shadow: 0rem 0rem 4rem #f2e9e4;
    transition: all ease-in-out 0.2s;

    .icon {
        color: #24292e;
        transition: all ease-in-out 0.5s;
    }
}

.link:nth-child(6):hover {
    box-shadow: 0rem 0rem 4rem #0b906f;
    transition: all ease-in-out 0.2s;

    .icon {
        color: #24292e;
        transition: all ease-in-out 0.5s;
    }
}

.link:nth-child(7):hover {
    box-shadow: 0rem 0rem 4rem #1496f4;
    transition: all ease-in-out 0.2s;

    .icon {
        color: #24292e;
        transition: all ease-in-out 0.5s;
    }
}

.link:nth-child(8):hover {
    box-shadow: 0rem 0rem 4rem #1439f4;
    transition: all ease-in-out 0.2s;

    .icon {
        color: #24292e;
        transition: all ease-in-out 0.5s;
    }
}

.icon {
    font-size: 40px;
}